<div class="fieldlist">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li><label for="simple-input">Nama Karyawan</label>
                    <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" />
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li><label for="simple-input">Jenis Kelamin</label>
                    <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" />
                </li>
            </ul>
        </div>
        <div class="col-md-3">
            <ul>
                <li><label for="simple-input">Tanggal Lahir</label>
                    <div class="demo-section k-content" ng-controller="MyCtrl">
                        <div>
                            <h4>Select date:</h4>
                            <input kendo-date-picker ng-model="dateString" k-ng-model="dateObject" style="width: 100%;" />
                        </div>
                </li>
            </ul>
            </div>
        </div>
        <ul>
            <li>
                <label for="simple-input">Nama Karyawan</label>
                <input id="simple-input" type="text" class="k-textbox" style="width: 100%;" />
            </li>
            <li>
                <label for="simple-textarea">Textarea</label>
                <textarea id="simple-textarea" class="k-textbox" style="width: 100%;"></textarea>
            </li>
        </ul>


        <div class="row">

        </div>
    </div>
    