<h1>Rincian Pemberitahuan</h1>
<form class="form-horizontal" role="form">
    <div class="form-group">
      <label class=" col-md-2" style="text-align:left" for="namaPeminjam">Dari</label>
      <div class="col-md-4">
        {{selectedNotification.user.userName}}               
      </div>
    </div>

    <div class="form-group">
      <label class=" col-md-2" style="text-align:left" for="tanggalMulai">Tanggal</label>
      <div class="col-md-4">
        {{selectedReservation.createdDate}}             
      </div>
    </div>

    <div class="form-group">
      <label class=" col-md-2" style="text-align:left" for="tanggalSelesai">Pesan</label>
      <div class="col-md-4">
        {{selectedReservation.notificationMessage}}               
      </div>
    </div>

    <br>
    <div class="form-group">
	  <div class="col-md-offset-1 col-md-7">
		  <div class="row">
			<button class="btn btn-default alert">Ok</button>
		  </div>
	  </div>
    </div>
</form>
