<div>
	<h1>Pemberitahuan</h1>
	
	<table datatable="ng" class="table">
		<thead>
			<tr>
				<th>No. </th>
				<th>Nama Penyewa</th>
				<th>Tanggal Mulai</th>
				<th>Tanggal Selesai</th>
				<th>Tempat</th>
				<th>Judul Kegiatan</th>
				<th>Total Biaya</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="rent in listOfRent" ng-click="selectRent(rent)" ng-class="{selected: rent.rentId == selectedRent.rentId}">
				<td><span ng-bind="rent.rentId"></span></td>
				<td><span ng-bind="rent.eventUserName"></span></td>
				<td><span ng-bind="rent.rentStartDate"></span></td>
				<td><span ng-bind="rent.rentEndDate"></span></td>
				<td><span ng-bind="rent.facility.facilityName"></span></td>
				<td><span ng-bind="rent.eventName"></span></td>
				<td><span ng-bind="rent.rentPrice"></span></td>
				<td><span ng-bind="rent.rentStatus"></span></td>
			</tr>
		</tbody>
	</table>
	<div class="form-group">
	  <div class="col-md-offset-1 col-md-7">
		  <div class="row">
			<button class="btn btn-default alert" ng-click="goTo('/notificationDetail')">Lihat Rincian</button>
		  </div>
	  </div>
    </div>	
</div>
