<div class="modal-header">
	<h3 class="modal-title">Pilih jenis kegiatan penyewaan</h3>
</div>
<div class="modal-body">
	<a href="#/rentRoomSelection"><button class="btn btn-primary" type="button" ng-click="setRentType('B')">Bisnis</button></a>
	<a href="#/rentRoomSelection"><button class="btn btn-primary" type="button" ng-click="setRentType('N')">Non Bisnis</button></a>
	<a href="#/rentRoomSelection"><button class="btn btn-primary" type="button" ng-click="setRentType('S')">Sosial</button></a>
</div>
<div class="modal-footer">
	keterangan: kegiatan bisnis		:
				kegiatan non-bisnis :
				kegiatan sosial		:
</div>