<div class="panel panel-default" id="pan">
  <div class="panel-heading" id="pan-head">
    <p class="panel-title" id="pan-title">Rincian Penyewaan</p>
  </div>
  <div class="panel-body" id="pan-body">
    <form class="form-horizontal" role="form" ng-submit="openModal('sm',pengajuan)">
      <div class="form-group">
        <label class=" col-md-2" style="text-align:left" for="namaPenyewa">Nama Penyewa</label>
        <div class="col-md-4">
          {{selectedRent.renter}}               
        </div>
      </div>

      <div class="form-group">
        <label class=" col-md-2" style="text-align:left" for="tanggalMulai">Tanggal Mulai</label>
        <div class="col-md-4">
          {{(selectedRent.rentDateStart | date:'dd MMMM yyyy')}}             
        </div>
      </div>

      <div class="form-group">
        <label class=" col-md-2" style="text-align:left" for="tanggalSelesai">Tanggal Selesai</label>
        <div class="col-md-4">
          {{(selectedRent.rentDateEnd | date:'dd MMMM yyyy')}}               
        </div>
      </div>

      <div class="form-group">
        <label class=" col-md-2" style="text-align:left" for="namaKegiatan">Nama Kegiatan</label>
        <div class="col-md-4">
          {{selectedRent.eventName}}                        
        </div>
      </div>

      <div class="form-group">
        <label class=" col-md-2" style="text-align:left" for="jenisKegiatan">Kategori Kegiatan</label>
        <div class="col-md-4">  
          {{eventCategoryName}}            
        </div>
      </div>

      <div class="form-group">
        <label class=" col-md-2" style="text-align:left" for="namaRuangan">Nama Ruangan</label>
        <div class="col-md-4">
          {{selectedRent.room.roomName}}               
        </div>
      </div>

      <div class="form-group">
        <label class=" col-md-2" style="text-align:left" for="statusPeminjaman">Status</label>
        <div class="col-md-4">
          {{rentReservationStatusName}}              
        </div>
      </div>

      <div class="form-group">
        <label class=" col-md-2" style="text-align:left" for="lampiranSuratIzinKegiatan">Lampiran Surat Pengajuan Penyewaan</label>
        <div class="col-md-4">
          <p class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click = "open2()" ><i class="glyphicon glyphicon-floppy-disk" ></i></button>
            </span>
          </p>
          <label><a href="#" target="_blank">Lampiran.docx</a></label>             
        </div>
      </div>


     <div class="form-group" ng-if="selectedRent.rentPhase=='5'">
        <label class=" col-md-2" style="text-align:left" for="lampiranSuratIzinKegiatan">Bukti Pembayaran</label>
        <div class="col-md-4">
          <p class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click = "open2()" ><i class="glyphicon glyphicon-floppy-disk" ></i></button>
            </span>
          </p>
          <label><a href="#" target="_blank">{{selectedRent.rentEvidencePath}}</a></label>             
        </div>
      </div>

      <br>
      <div class="form-group" ng-if="selectedRent.rentPhase=='1'">
        <div class="col-md-offset-4 col-md-7">
          <button type="reset" class="btn btn-danger btn-md"  ng-click="goTo('/rentRejectionDetail')">Tolak Penyewaan</button>
          <button class="btn btn-success btn-md" ng-click="approveEvent()">Izinkan Penyewaan</button>
        </div>
      </div>

      <div class="form-group" ng-if="selectedRent.rentPhase=='2'">
        <div class="col-md-offset-4 col-md-7">
          <button type="reset" class="btn btn-danger btn-md"  ng-click="goTo('/rentRejectionDetail')">Tolak Penyewaan</button>
          <button type="btn btn-success btn-md" ng-click="kpknlProcess()">Proses ke KPKNL</button>
          <button class="btn btn-success btn-md" ng-click="goTo('/rentPriceSubmit')">Submit Harga Sewa</button>
        </div>
      </div>

      <div class="form-group" ng-if="selectedRent.rentPhase=='3'">
        <div class="col-md-offset-4 col-md-7">
          <button type="reset" class="btn btn-danger btn-md"  ng-click="goTo('/rentRejectionDetail')">Tidak diizinkan KPKNL</button>
          <button class="btn btn-success btn-md" ng-click="goTo('/rentPriceSubmit')">Diizinkan KPKNL</button>
        </div>
      </div>

      <div class="form-group" ng-if="selectedRent.rentPhase=='5'">
        <div class="col-md-offset-4 col-md-7">
          <button class="btn btn-success btn-md" ng-click="approveEvent()">Izinkan Penyewaan</button>
        </div>
      </div>

    </form>
  </div>
</div>

