<div class="panel panel-default" id="pan">
  <div class="panel-heading" id="pan-head">
    <p class="panel-title" id="pan-title">Form Penyewaan</p>
  </div>
  <div class="panel-body" id="pan-body">
    <form class="form-horizontal" role="form" ng-submit="openModal('sm',rent)">
		<div class="form-group">
		  <label class="col-md-2" style="text-align:left" for="namaPenyewa">Nama Penyewa</label>
		  <div class="col-md-4">
			<input type="text" class="form-control" ng-model="rent.renter" ng-required="true">               
		  </div>
		</div>

		<div class="form-group">
		  <label class=" col-md-2" style="text-align:left" for="tanggalMulai">Tanggal Mulai</label>
		  <div class="col-md-4">
			{{(rent.rentDateStart | date:'dd MMMM yyyy HH:mm')}}             
		  </div>
		</div>

		<div class="form-group">
		  <label class=" col-md-2" style="text-align:left" for="tanggalSelesai">Tanggal Selesai</label>
		  <div class="col-md-4">
			{{(rent.rentDateEnd | date:'dd MMMM yyyy HH:mm')}}               
		  </div>
		</div>

		<div class="form-group">
		  <label class=" col-md-2" style="text-align:left" for="namaKegiatan">Nama Kegiatan</label>
		  <div class="col-md-4">
			<input type="text" class="form-control" ng-model="rent.eventName" ng-required="true">               
		  </div>
		</div>

		<div class="form-group">
		  <label class=" col-md-2" style="text-align:left" for="kategoriKegiatan">Kategori Kegiatan</label>
		  <div class="col-md-4">
				<span ng-if="rent.eventCategory == 'B'">Bisnis</span>
				<span ng-if="rent.eventCategory == 'N'">Non Bisnis</span>
				<span ng-if="rent.eventCategory == 'S'">Sosial</span>             
		  </div>
		</div>

		<div class="form-group">
		  <label class=" col-md-2" style="text-align:left" for="namaRuangan">Nama Ruangan</label>
		  <div class="col-md-4">
			{{selectedRoom.roomName}}               
		  </div>
		</div>

		<div class="form-group">
		  <label class=" col-md-2" style="text-align:left" for="hargaSewa">Harga Sewa</label>
		  <div class="col-md-4">
			<p>{{selectedRoom.roomPrice | currency : "Rp "}}*</p>
			<p>*keterangan: Harga belum termasuk biaya operasional</p>
		  </div>
		</div>

		<div class="form-group">
		  <label class=" col-md-2" style="text-align:left" for="lampiranSuratIzinKegiatan">Lampiran Surat Izin Kegiatan</label>
		  <div class="col-md-4">
			<input type="file"></input>              
		  </div>
		</div>
		<br>
		<div class="form-group">
		  <div class="col-md-offset-6 col-md-4">
			<a href="#/rentRoomSelection"><button type="button" class="btn btn-danger btn-md">Kembali</button></a>
			<!-- <a href="#/reservationRequestList"><button type="submit" class="btn btn-success btn-md">Ajukan Penyewaan</button></a> -->
			<button type="submit" class="btn btn-success btn-md" ng-click="createRent()">Ajukan Penyewaan</button>
		  </div>
		</div>
	</form>
  </div>
</div>
