<div class="panel panel-default" id="pan">
	<div class="panel-heading" id="pan-head">
    	<p class="panel-title" id="pan-title">Laporan Pemakaian Ruangan</p>
    	<p class="panel-title" id="pan-title">Periode {{selectedDateTime.startDate}} - {{selectedDateTime.endDate}}</p>
  	</div>
  	<div class="panel-body" id="pan-body">
		<table datatable="ng" class="table">
			<thead>
				<tr>
					<th>Nama Ruangan</th>
					<th>Senin</th>
					<th>Selasa</th>
					<th>Rabu</th>
					<th>Kamis</th>
					<th>Jum'at</th>
					<th>Sabtu</th>
					<th>Minggu</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="room in listOfRoom">
					<td><span ng-bind="room.roomName"></span></td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
					<td>0</td>
				</tr>
			</tbody>
		</table>

		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<div class="col-md-2"><a href="#/reservationRequestList"><button class="btn btn-default alert alert-danger">Batal</button></a>
				</div>
				<div class="col-md-2s"><a href="#/reservationForm"><button class="btn btn-default alert alert-success">OK</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
 