<div class="panel panel-default" id="pan">
	<div class="panel-heading" id="pan-head">
    	<p class="panel-title" id="pan-title">Daftar Ruangan</p>
  	</div>
  	<div class="panel-body" id="pan-body">
		<table datatable="ng" class="table">
			<thead>
				<tr>
					<th>No. </th>
					<th>Nama Ruangan</th>
					<th>Jenis Ruangan</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="room in listOfRoom">
					<td><span ng-bind="room.roomCode"></span></td>
					<td><span ng-bind="room.roomName"></span></td>
					<td>
						<span ng-show="room.roomCode.substring(1,2) == 'S'">Ruangan Khusus</span>
						<span ng-show="room.roomCode.substring(1,2) == 'G'">Ruangan Umum</span>
					</td>
				</tr>
			</tbody>
		</table>

		<h3>Periode Pemakaian</h3>
		<br/>
		<div class="row">
			<div class="col-md-2">
				<label>Mulai: </label>
			</div>
			<div class="col-md-4">
				<p class="input-group">
				  <input type="text" class="form-control" uib-datepicker-popup="MMMM yyyy" ng-model="selectedDateTime.startDate" is-open="popup1.opened"  datepicker-options="{minMode: 'month'}" datepicker-mode="'month'" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
				  <span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
				  </span>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2">
				<label>Akhir: </label>
			</div>
			<div class="col-md-4">
				<p class="input-group">
				  <input type="text" class="form-control" uib-datepicker-popup="MMMM yyyy" ng-model="selectedDateTime.endDate" is-open="popup2.opened"  datepicker-options="{minMode: 'month'}" datepicker-mode="'month'" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
				  <span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
				  </span>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-6">
				<div class="col-md-2"><a href="#/reservationRequestList"><button class="btn btn-default alert alert-danger">Batal</button></a>
				</div>
				<div class="col-md-2s"><a href="#/report"><button class="btn btn-default alert alert-success">OK</button></a>
				</div>
			</div>
		</div>
	</div>
</div>
 