<div>

	<div class ="col-md-12">
		<table class="table table-bordered">
			<caption>Daftar Ruangan</caption>
			<thead>
				<tr>
					<th>NO</th>
					<th>Nama Ruangan</th>
					<th>Jenis Ruangan</th>
					<th colspan="2">Aksi</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Ruang Utama Pendopo Agung</td>
					<td>Umum</td>
					<td>Edit</td>
					<td>Delete</td>
				</tr>
			</tbody>
		</table>	
	</div>
	<div class="" style="text-align:right">
		<button>Tambahkan Ruangan</button>
	</div>
</div>